<div class="mainContainer">
  <div class="tableContainer">
    <table mat-table>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef>Posto</th>
        <td mat-cell *matCellDef="let element">{{ element.office }}</td>
      </ng-container>
      <ng-container matColumnDef="lab">
        <th mat-header-cell *matHeaderCellDef>Laboratório</th>
        <td mat-cell *matCellDef="let element">{{ element.lab }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle></mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element"> <mat-icon>edit</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="archive">
        <th mat-header-cell *matHeaderCellDef>Arquivar</th>
        <td mat-cell *matCellDef="let element"> <mat-icon>archive</mat-icon> </td>
      </ng-container>
    </table>
  </div>
</div>
