@import '../../../../styles.scss';

.mainContainer {
  margin: 0 10% 0 10%;
}

.title {
  color: #1E2A4C;
  font-size: 28px;
  font-weight: 500;
}

.userTypeContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.userTypeItem {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #5659EC;
  border-radius: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #5659EC;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.userTypeItem.selected {
  background-color: #5659EC;
  color: white;
}

.userTypeItem img {
  width: 50px;
}

.userTypeItem p {
  margin: 0;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button span {
  margin-right: 5px;
}

.confirmButton {
  background-color: #1E2A4C;
}

.cancelButton {
  background-color: #ff0000b3;
}

.input {
  width: 100%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.inputGroup .input {
  width: 48%;
}

.labelOthers {
  opacity: 0.75;
  font-size: 0.75em;
}

.iconPassword {
  color: gray;
}

.expandedInput {
  width: 100% !important;
}
