<mat-sidenav-container [style.height]="'100vh'">
  <mat-sidenav opened mode="side" class="menu" [class.collapsed]="!expanded">
    <div class="headerMenu" [class.collapsed]="!expanded">
      <img src="../../assets/police-logo.png" alt="Logo da polícia" class="mainImageMenu" [class.collapsed]="!expanded">
      <p class="titleMenu" [class.collapsed]="!expanded">Delegacia de Homicídios da Capital</p>
    </div>
    <div class="menuOptionsContainer" [class.collapsed]="!expanded">
      <mat-nav-list>
        <a mat-list-item routerLink="procedimentos">
          <mat-icon matListItemIcon>description</mat-icon>
          <span>Procedimentos</span>
        </a>
        <a mat-list-item routerLink="usuarios">
          <mat-icon matListItemIcon>people</mat-icon>
          <span>Usuários</span>
        </a>
        <a mat-list-item routerLink="estrutura">
          <mat-icon matListItemIcon>extension</mat-icon>
          <span>Estrutura</span>
        </a>
      </mat-nav-list>

      <div>
        <div routerLink="perfil" class="profileButton" [class.collapsed]="!expanded">
          <img src="../../assets/icon-profile.png" alt="Icone de perfil" class="profileIcon">
          <p class="userName" *ngIf="expanded">Denilson Soares de Siqueira</p>
        </div>
        <div class="toggleMenuContainer" [class.collapsed]="!expanded" >
          <mat-icon (click)="toggleMenu()" class="toggleMenuButton" *ngIf="expanded">navigate_before</mat-icon>
          <mat-icon (click)="toggleMenu()" class="toggleMenuButton" *ngIf="!expanded">navigate_next</mat-icon>
        </div>
      </div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="getContentMargin()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
