@import '../../styles.scss';

* {
  box-sizing: border-box;
}

.menu {
  background-color: #171D34;
  margin: 10px;
  border-radius: 15px;
  width: 250px;
}

.menu.collapsed {
  width: 65px;
}

.headerMenu {
  text-align: center;
  padding: 20px 30px;
  height: 30%;
}

.headerMenu.collapsed {
  padding: 20px 2px;
  height: 15%;
}

.mainImageMenu {
  width: 60%;
}

.mainImageMenu.collapsed {
  width: 90%;
}

.titleMenu {
  font-size: 16px;
  color: white;
}

.titleMenu.collapsed {
  opacity: 0;
  font-size: 5px;
}

.menuOptionsContainer {
  padding: 20px;
  background-color: #1E2A4C;
  border-top-right-radius: 50px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuOptionsContainer.collapsed  {
  padding: 20px 2px;
  height: 85%;
}

.menuOptionsContainer a {
  text-align: start;
  font-size: 14px;
}

.menuOptionsContainer span, .menuOptionsContainer mat-icon {
  color: white;
  height: 3rem;
}

.menuOptionsContainer a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profileButton {
  background-color: #171D34;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.profileButton.collapsed {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.profileIcon {
  width: 32px;
}

.userName {
  text-align: start;
  color: white;
  margin-left: 10px;
  font-size: 14px;
}

.toggleMenuContainer {
  display: flex;
  justify-content: flex-end;
}

.toggleMenuContainer.collapsed {
  justify-content: center;
}

.toggleMenuButton {
  border-radius: 50%;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleMenuButton:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

:host * {
  transition: all 500ms ease-in-out;
}
