<div class="backgroundImage">
  <section class="mainContainer">
    <div class="mainContent">
      <div class="titleContainer">
        <img src="../../../assets/police-logo.png" alt="Logo da polícia" class="image">
        <h1 class="title">Cadeia de Custódia</h1>
      </div>
      <div class="formContainer">
        <h2 class="subtitle">Login</h2>
        <form class="loginForm">
          <input type="text" class="field">
          <input type="text" class="field">
        </form>
        <div class="actionsContainer">
          <a routerLink="" class="link">Esqueceu a senha?</a>
          <button class="button">
            Entrar >
            <!-- <mat-icon>navigate_next</mat-icon> -->
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
