<div class="backgroundImage">
  <section class="mainContainer">
    <div class="mainContent">
      <div class="titleContainer">
        <img src="../../../assets/police-logo.png" alt="Logo da polícia" class="image">
        <h1 class="title">Cadeia de Custódia</h1>
      </div>
      <div class="formContainer">
        <h2 class="subtitle">Login</h2>
        <form [formGroup]="form" class="loginForm">
          <mat-form-field>
            <mat-label>Id ou matrícula</mat-label>
            <input matInput formControlName="user" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" required>
          </mat-form-field>
        </form>
        <div class="actionsContainer">
          <a routerLink="" class="link">Esqueceu a senha?</a>
          <button mat-button class="button">
            Entrar
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
